.post-container.text-light.py-5.mt-5.text-justify p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #e7e7e794;
    line-height: 31px;
}

.post-container{
    position: relative;
}

.post-container.text-light.py-5.mt-5.text-justify h1 {
    position: relative;
    font-weight: 700;
    padding: 16px 0;
    font-size: 56px;
}


.post-container.text-light.py-5.mt-5.text-justify h1 {
    position: relative;
    font-weight: 700;
    padding: 16px 0;
}